Django==4.2.4
python-decouple==3.1
djangorestframework==3.14.0  # Falls du Django REST Framework verwendest
gunicorn==20.1.0  # Ein WSGI HTTP Server für UNIX, oft genutzt mit Django in Produktion
django-environ==0.10.0  # Für die Handhabung von Umgebungsvariablen
