<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Portfolio Julian Schäpermeier />
    <meta property="og:description" content="This is my portfolio website." />
    <meta property="og:url" content="https://julianschaepermeier.com" />
    <meta property="og:type" content="website" />
  <meta property="og:image" content="https://julianschaepermeier.com/static/img/klein.png" />
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-**********" crossorigin="anonymous" />
    <link rel="icon" href="{% static 'icon.ico' %}" type="image/x-icon">

</head>
<body>
    <header>
        <nav>
            <ul class="left-nav">
                <li class="logo"><a href="#hero"><i class="fas fa-power-off"></i></a></li>
            </ul>
            <div class="menu-btn">
                <a href="#" class="menu">.menu</a>
            </div>
            <ul class="right-nav">
                <li><a href="#about">.about</a></li>
                <li><a href="#stacks">.stacks</a></li>
                <li><a href="#experience">.experience</a></li>
                <li><a href="#timeline">.projects</a></li>
                <li><a href="#contact">.contact</a></li>


                <!-- Sprachumschalter -->         
            </ul>
            <ul class ="language">
                <li class="language-selector">
                    <a href="#" id="language-toggle"class="language-flag">
                        <img src="{% static 'img/de.svg' %}" alt="Language" id="language-flag" />
                    </a>
                </li>
        </ul>
        </nav>

        <nav>
        <div class="mobile-menu">
            <button class="close-btn" id="close-btn">&times;</button>
            <ul>
                <li><a href="#about">.about</a></li>
                <li><a href="#stacks">.stacks</a></li>
                <li><a href="#experience">.experience</a></li>
                <li><a href="#timeline">.projects</a></li>
                <li><a href="#contact">.contact</a></li>
            </ul>
        </div>
  
    </header>
    
    <section id="hero">
        <!-- Hinzufügen der Klasse "hero-content" -->
        <h1 class="larger"><span class="highlight" id="hero-hi">Hi.</span></h1>
        <h2 id="hero-name">My name is Julian.</h2>
        <div class="hero-content"> 
            <h2 class="typewriter" id="hero-love">I love to code.</h2>
        </div>
    </section>
    
    <section id="about" class="next-page">
        <div class="about">
            <h2 class="headline">.about</h2>
            <img src="{% static 'img/bild2.jpg' %}" alt="Bild" class="image"> 
            <div class="about-text">
            <p> 
                I am a passionate software developer based in Dortmund. 
                I gained my first programming experience and developed small applications while I was still in school. 
                Since then, I have been fascinated by the boundless possibilities of programming. 
                In my free time, I work on creative projects and continuously expand my knowledge to learn new technologies and enhance my skills.
            </p>
            </div>
            <div class="social-icons">
                <a href="mailto:j.schaepermeier91@gmail.com" class="social-icon">
                    <i class="fas fa-envelope"></i>
                </a>
                <a href="https://github.com/Julscha9291" class="social-icon"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/julian-sch%C3%A4permeier-8977011a0/" class="social-icon"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </section>
    
    <section id="stacks">
        <div class="stacks">
            <h2 class="headline">.stacks</h2>
            <ul class="stack-list">
                <li class="stack-item">
                    <div class="stack-content">
                        <h3><i class="fas fa-database"></i> Database</h3>
                        <ul class="stack-details">
                            <li>HANA SQL</li>
                            <li>SQLite</li>
                        </ul>
                    </div>
                </li>
                <li class="stack-item">
                    <div class="stack-content">
                        <h3><i class="fab fa-python"></i> Backend </h3>
                        <ul class="stack-details">
                            <li>Django</li>
                            <li>Python</li>
                        </ul>
                    </div>
                </li>
                <li class="stack-item">
                    <div class="stack-content">
                        <h3><i class="fas fa-chart-line"></i> Analysis</h3>
                        <ul class="stack-details">
                            <li>R</li>
                            <li>Python</li>
                            <li>MicroStrategy</li>
                            <li>Stata</li>
                        </ul>
                    </div>
                </li>

                <li class="stack-item">
                    <div class="stack-content">
                        <h3><i class="fab fa-html5"></i> Frontend </h3>
                        <ul class="stack-details">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>React</li>
                        <li>Javascript</li>
                    </ul>
                    </div>
                </li>
       
            </ul>
        </div>
    </section>
    

    <section id="experience">
        <h1 class="headline">.experience</h1>
        <div class="time">
            <div class="container left">
                <div class="content">
                    <div class="cd-timeline-content">
                        <h2>BARMER</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                                <i class="fa fa-certificate" aria-hidden="true"></i>
                                Data Analyst
                            </span>
                            <span class="timeline-content-info-date">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                October 2020 - Present
                            </span>
                            <p>Reports and analytics</p>
                            <ul class="content-skills">
                                <li>SQL HANA</li>
                                <li>MS Excel</li>
                                <li>R</li>
                                <li>Python</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container right">
                <div class="content">
                    <div class="cd-timeline-content">
                        <h2>Fernuniversität Hagen</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                                <i class="fa fa-certificate" aria-hidden="true"></i>
                                Computer Science
                            </span>
                            <span class="timeline-content-info-date">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                October 2022 - Present
                            </span>                   
                            <p>Knowledge in: Object-Oriented Programming, Business Information Systems, 
                                Technical and Theoretical Computer Science, Databases and IT Security</p>
                            <ul class="content-skills">
                                <li>Java</li>
                                <li>Python</li>
                                <li>SQL</li>
                                <li>Assembler</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container left"> 
                <div class="content">
                    <div class="cd-timeline-content">
                        <h2>Universität Duisburg-Essen</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                                <i class="fa fa-certificate" aria-hidden="true"></i>
                                Health Economics M.Sc.
                            </span>
                            <span class="timeline-content-info-date">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                October 2016 - September 2020
                            </span>
                            <p>Knowledge in empirical Analysis of health economic related data</p>
                            <ul class="content-skills">
                                <li>Stata</li>
                                <li>R</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container right">
                <div class="content">           
                        <div class="cd-timeline-content">
                            <h2>Universität Duisburg-Essen</h2>
                            <div class="timeline-content-info">
                                <span class="timeline-content-info-title">
                                    <i class="fa fa-certificate" aria-hidden="true"></i>
                                    Research Assistant
                                </span>
                                <span class="timeline-content-info-date">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    October 2016 - September 2020
                                </span>                   
                                <p>Data preparation, collecting, analysing</p>
                                <ul class="content-skills">
                                    <li>Stata</li>
                                    <li>LaTeX</li>
                                    <li>R</li>
                                </ul>
                            </div>
                        </div>
                </div> 
            </div>

            <div class="container left"> 
                <div class="content">
                    <div class="cd-timeline-content">
                        <h2>Universität Duisburg-Essen</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                                <i class="fa fa-certificate" aria-hidden="true"></i>
                                Business Administration
                            </span>
                            <span class="timeline-content-info-date">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                October 2012 - September 2016
                            </span>
                            <p>Knowledge in: Business Informatics, Business Engineering and Method-Based Business Analysis</p>
                            <ul class="content-skills">
                                <li>R</li>
                                <li>MS Excel</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="complete-cv-button">Complete CV</button>
    </section>
        
      <section id="timeline" >
        <div class="timeline">
            <h2 class="headline">.projects</h2>
            <ul>
                <li>
                    <div class="timeline-content">
                        <h3>Task App</h3>
                        <div class="wrapper">
                            <div class="text">
                                <p>Efficiently manage your tasks with our Kanban-inspired Task Manager. Organize tasks using intuitive drag-and-drop functionality, assign categories and users, and stay on top of your workload with a comprehensive dashboard. Real-time notifications keep you updated on important changes.</p>
                            </div>
                            <div class="project-img">
                                <img src="{% static 'img/projekt1.png' %}" alt="Bild" class="image-project"> 
                            </div>
                        </div>
                        <div class ="buttons"  >
                        
                                            <button class ="project-button" onclick="window.open('https://task.julianschaepermeier.com/', '_blank')">  Live Demo </button>
                        <button class="code-button" onclick="window.open('https://github.com/Julscha9291/Task', '_blank')">Code</button>
                    </div>
                </div>
                </li>
                <li>
                    <div class="timeline-content">
                    <h3>Next Job - Webscraper for jobs.</h3>
                    <div class="wrapper">
                        <div class="text">
                            <div class="project2">     
                            <p> The Job Search Application "Next Job" is a web-based tool for automated job searching on Indeed and StepStone. It offers filtering by location, radius, job type, and date, providing a clear display and easy sorting and filtering of search results. </p>
                        </div>
                        </div>
                        <div class="project-img">
                            <img src="{% static 'img/projekt2.png' %}" alt="Bild" class="image-project"> 
                        </div>
                    </div>
                    <div class ="buttons">
                    <button class ="project-button" onclick="window.open('https://nextjob.julianschaepermeier.com/', '_blank')" > Live Demo</button>
                    
                    <button class="code-button" onclick="window.open('https://github.com/Julscha9291/Job_App', '_blank')">Code</button>
                    </div>
                </div>
                </li>    
                <li>
                    <div class="timeline-content">
                    <h3>Connect - Business Chat App </h3>
                    <div class="wrapper">
                        <div class="text">
                            <div class="project3">     
                            <p> Connect is a business chat app that is made for team communication. It features real-time messaging using WebSockets with Django Channels. The app includes user registration, login, channels, and private chats. The app allows for message editing, deletion, and threaded replies.</p>
                        </div>
                        </div>
                        <div class="project-img">
                            <img src="{% static 'img/projekt3.png' %}" alt="Bild" class="image-project"> 
                        </div>
                    </div>
                    <div class ="buttons">
                    <button class ="project-button"> Live Demo</button>
                    
                    <button class="code-button" onclick="window.open('https://github.com/Julscha9291/Job_App', '_blank')">Code</button>
                    </div>
                </div>
                </li>         
            </ul>
        </div>
    </section>
    
    
    <section id="contact">
        <div class="contact">
            <h2 class="headline">Contact</h2>
    
            <form method="POST" action="" id="contact-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name" id="contact-name-label">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email" id="contact-email-label">E-Mail:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message" id="contact-message-label">Message:</label>
                    <textarea id="message" name="message" rows="6" required></textarea>
                </div>
                <button type="submit" id="contact-submit-button">Send</button>
            </form>
    
            <!-- Message area -->
                <div id="response-container" class="response-container" style="display: flex;justify-content: center;">
                    <p class="response-message" id="response-message"></p>
                </div>
               
        </div>
    </section>
    

    
    


    <footer>
        <div class="footer">
            <p>&copy; <span id="current-year"></span> Made by Julian with ❤️</p>
        </div>
    </footer>

    <script>
        // Übersetzungen
        const translations = {
            en: {
                navbarAbout: ".about",
                navbarStacks: ".stacks",
                navbarExperience: ".experience",
                navbarProjects: ".projects",
                navbarContact: ".contact",
                aboutHeadline: ".about",
                aboutText: "I am a passionate software developer based in Dortmund. I gained my first programming experience and developed small applications while I was still in school. Since then, I have been fascinated by the boundless possibilities of programming. In my free time, I work on creative projects and continuously expand my knowledge to learn new technologies and enhance my skills.",
                stacksHeadline: ".stacks",
                experienceHeadline: ".experience",
                projectsHeadline: ".projects",
                contactHeadline: ".contact",
                contactNameLabel: "Name:",
                contactEmailLabel: "E-Mail:",
                contactMessageLabel: "Message:",
                contactSubmitButton: "Send",
                project1Title: "Task App",
                project1Description: "Efficiently manage your tasks with the Kanban-inspired Task Manager. Organize tasks using intuitive drag-and-drop functionality, assign categories and users, and stay on top of your workload with a comprehensive dashboard. Real-time notifications keep you updated on important changes.",
                project2Description: "The Job Search Application is a web-based tool for automated job searching on Indeed and StepStone. It offers filtering by location, radius, job type, and date, providing a clear display and easy sorting and filtering of search results.",
                project3Description: "Connect is a business chat app that is made for team communication. It features real-time messaging using WebSockets with Django Channels. The app includes user registration, login, channels, and private chats. The app allows for message editing, deletion, and threaded replies.",
                experienceItems: [
                    {
                        company: "BARMER",
                        position: "Data Analyst",
                        date: "October 2020 - Present",
                        description: "Reports and analytics",
                        skills: ["SQL HANA", "MS Excel", "R", "Python"]
                    },
                    {
                        company: "Fernuniversität Hagen",
                        position: "Computer Science",
                        date: "October 2022 - Present",
                        description: "Knowledge in: Object-Oriented Programming, Business Information Systems, Technical and Theoretical Computer Science, Databases and IT Security",
                        skills: ["Java", "Python", "SQL", "Assembler"]
                    },
                    {
                        company: "Universität Duisburg-Essen",
                        position: "Health Economics M.Sc.",
                        date: "October 2016 - September 2020",
                        description: "Knowledge in empirical Analysis of health economic related data",
                        skills: ["Stata", "R"]
                    },
                    {
                        company: "Universität Duisburg-Essen",
                        position: "Research Assistant",
                        date: "October 2016 - September 2020",
                        description: "Data preparation, Data collecting and Data analysis",
                        skills: ["Stata", "LaTeX", "R"]
                    },
                    {
                        company: "Universität Duisburg-Essen",
                        position: "Business Administration",
                        date: "October 2012 - September 2016",
                        description: "Knowledge in: Business Informatics, Business Engineering and Method-Based Business Analysis",
                        skills: ["R", "Excel"]
                    }
                ],
                completeCVButton: "Complete CV"  ,
                heroHi: "Hi.",
                heroName: "My name is Julian.",
                heroLove: "I love to code." 
            },
            de: {
                navbarAbout: ".über mich",
                navbarStacks: ".technologien",
                navbarExperience: ".erfahrung",
                navbarProjects: ".projekte",
                navbarContact: ".kontakt",
                aboutHeadline: ".über mich",
                aboutText: "Ich bin ein leidenschaftlicher Softwareentwickler aus Dortmund. Bereits in der Schule konnte ich erste Programmiererfahrung sammeln und erste kleine Anwendungen entwickeln. Seitdem bin ich fasziniert von den grenzenlosen Möglichkeiten des Programmierens. In meiner Freizeit arbeite ich an kreativen Projekten und bilde mich kontinuierlich weiter, um stets neue Technologien zu erlernen und meine Fähigkeiten zu erweitern.",
                stacksHeadline: ".technologien",
                experienceHeadline: ".erfahrung",
                projectsHeadline: ".projekte",
                contactHeadline: ".kontakt",
                contactNameLabel: "Name:",
                contactEmailLabel: "E-Mail:",
                contactMessageLabel: "Nachricht:",
                contactSubmitButton: "Absenden",
                project1Title: "Task App",
                project1Description: "Verwalten Sie Ihre Aufgaben effizient mit dem Kanban-inspirierten Aufgabenmanager. Organisieren Sie Aufgaben mit intuitiver Drag-and-Drop-Funktionalität, weisen Sie Kategorien und Benutzer zu und behalten Sie Ihre Arbeitslast mit einem umfassenden Dashboard im Blick. Echtzeit-Benachrichtigungen halten Sie über wichtige Änderungen auf dem Laufenden.",
                project2Description: "Die Job Search Application ist eine webbasierte Anwendung zur automatisierten Jobsuche auf Indeed und StepStone. Mit Filtern für Standort, Radius, Jobtyp und Datum bietet sie eine übersichtliche Anzeige und ermöglicht eine einfache Sortierung und weitere Filterung der Suchergebnisse.",
                project3Description: "Connect ist eine Business-Chat-App, die für die Teamkommunikation entwickelt wurde. Sie bietet Echtzeit-Messaging mit WebSockets und Django Channels. Die App umfasst Benutzerregistrierung, Login, Kanäle und private Chats. Außerdem ermöglicht die App das Bearbeiten, Löschen von Nachrichten und das Erstellen von Nachrichten-Threads.",
                experienceItems: [
                    {
                        company: "BARMER",
                        position: "Datenanalyst",
                        date: "Oktober 2020 - Heute",
                        description: "Berichtserstellung und Analysen und Auswertung zum Vertriebsgeschäft",
                        skills: ["SQL HANA", "MS Excel", "R", "Python"]
                    },
                    {
                        company: "Fernuniversität Hagen",
                        position: "Wirtschaftsinformatik",
                        date: "Oktober 2022 - Heute",
                        description: "Kenntnisse in: Objektorientierter Programmierung, Wirtschaftsinformatik, Technischer und Theoretischer Informatik, Datenbanken und IT-Sicherheit",
                        skills: ["Java", "Python", "SQL", "Assembler"]
                    },
                    {
                        company: "Universität Duisburg-Essen",
                        position: "Health Economics M.Sc.",
                        date: "Oktober 2016 - September 2020",
                        description: "Kenntnisse in der empirischen Analyse gesundheitsökonomischer Daten",
                        skills: ["Stata", "R"]
                    },
                    {
                        company: "Universität Duisburg-Essen",
                        position: "Wissenschaftlicher Mitarbeiter",
                        date: "Oktober 2016 - September 2020",
                        description: "Datenaufbereitung, Datensammlung, Datenanalyse",
                        skills: ["Stata", "LaTeX", "R"]
                    },
                    {
                        company: "Universität Duisburg-Essen",
                        position: "Betriebswirtschaftslehre",
                        date: "Oktober 2012 - September 2016",
                        description: "Kenntnisse in: Wirtschaftsinformatik, Business Engineering und methodengestützte Unternehmensanalyse",
                        skills: ["R", "Excel"]
                    }
                ],
                completeCVButton: "Kompletter CV" , 
                heroHi: "Hi.",
                heroName: "Mein Name ist Julian.",
                heroLove: "Ich liebe es, zu programmieren."
              
            }
        };
    
        let currentLanguage = 'en'; // Standard-Sprache
    
        function updateText() {
            // Navbar Übersetzungen
            document.querySelector('a[href="#about"]').textContent = translations[currentLanguage].navbarAbout;
            document.querySelector('a[href="#stacks"]').textContent = translations[currentLanguage].navbarStacks;
            document.querySelector('a[href="#experience"]').textContent = translations[currentLanguage].navbarExperience;
            document.querySelector('a[href="#timeline"]').textContent = translations[currentLanguage].navbarProjects;
            document.querySelector('a[href="#contact"]').textContent = translations[currentLanguage].navbarContact;
    
            // About Section
            document.querySelector('#about .headline').textContent = translations[currentLanguage].aboutHeadline;
            document.querySelector('#about .about-text p').textContent = translations[currentLanguage].aboutText;
    
            // Stacks Section
            document.querySelector('#stacks .headline').textContent = translations[currentLanguage].stacksHeadline;
    
            // Experience Section
            document.querySelector('#experience .headline').textContent = translations[currentLanguage].experienceHeadline;
    
            // Experience Items
            const experienceContainers = document.querySelectorAll('#experience .container');
            experienceContainers.forEach((container, index) => {
                if (translations[currentLanguage].experienceItems[index]) {
                    const item = translations[currentLanguage].experienceItems[index];
                    container.querySelector('.cd-timeline-content h2').textContent = item.company;
                    container.querySelector('.timeline-content-info .timeline-content-info-title').innerHTML = 
                        `<i class="fa fa-certificate" aria-hidden="true"></i> ${item.position}`;
                    container.querySelector('.timeline-content-info .timeline-content-info-date').innerHTML = 
                        `<i class="fa fa-calendar-o" aria-hidden="true"></i> ${item.date}`;
                    container.querySelector('.cd-timeline-content p').textContent = item.description;
                    
                    const skillList = container.querySelector('.content-skills');
                    skillList.innerHTML = item.skills.map(skill => `<li>${skill}</li>`).join('');
                }
            });
    
            // Projects Section
            document.querySelector('#timeline .headline').textContent = translations[currentLanguage].projectsHeadline;
            document.querySelector('#timeline .timeline-content h3').textContent = translations[currentLanguage].project1Title;
            document.querySelector('#timeline .timeline-content p').textContent = translations[currentLanguage].project1Description;
            document.querySelector('#timeline .timeline-content .project2 p').textContent = translations[currentLanguage].project2Description;
            document.querySelector('#timeline .timeline-content .project3 p').textContent = translations[currentLanguage].project3Description;
    
            // Contact Section
            document.querySelector('#contact .headline').textContent = translations[currentLanguage].contactHeadline;
            document.querySelector('#contact #contact-name-label').textContent = translations[currentLanguage].contactNameLabel;
            document.querySelector('#contact #contact-email-label').textContent = translations[currentLanguage].contactEmailLabel;
            document.querySelector('#contact #contact-message-label').textContent = translations[currentLanguage].contactMessageLabel;
            document.querySelector('#contact #contact-submit-button').textContent = translations[currentLanguage].contactSubmitButton;
            
            // Button-Text
            document.querySelector('#complete-cv-button').textContent = translations[currentLanguage].completeCVButton;
    
            // Hero Section
            document.querySelector('#hero #hero-hi').textContent = translations[currentLanguage].heroHi;
            document.querySelector('#hero #hero-name').textContent = translations[currentLanguage].heroName;
            document.querySelector('#hero #hero-love').textContent = translations[currentLanguage].heroLove;
               
        }
    
        document.addEventListener('DOMContentLoaded', function() {
            const languageToggle = document.getElementById('language-toggle');
            const languageFlag = document.getElementById('language-flag');
        
            languageToggle.addEventListener('click', function(e) {
                e.preventDefault();
        
                // Wechsel der Sprache
                if (currentLanguage === 'en') {
                    languageFlag.src = "{% static 'img/gb.svg' %}";
                    currentLanguage = 'de';
                } else {
                    languageFlag.src = "{% static 'img/de.svg' %}";
                    currentLanguage = 'en';
                }
    
                updateText(); 
            });            
            updateText();
        });


    </script>

    <script src="static/js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>